.contact-form
	= simple_form_for @message, :url => "/admin/messages", :method => :post, :onsubmit => "$('#btn-submit').prop('disabled', true)" do |f|
		.row{style: "margin: 0;"}
			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin: 0; padding: 0;"}
				= f.input :name, label: false, input_html: {class: "form-control", placeholder: "Nombre", required: "required", style: ""}

			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin: 0; padding: 0;"}
				= f.input :email, as: :email, label: false, input_html: {class: "form-control", placeholder: "Email", required: "required", style: "border-left: none;"}

			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin: 0; padding: 0;"}
				= f.input :phone, label: false, input_html: {class: "form-control", placeholder: "Teléfono", style: "border-top: none;"}

			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin: 0; padding: 0;"}
				= f.input :company, label: false, input_html: {class: "form-control", placeholder: "Empresa", style: "border-top: none; border-left: none;"}

			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin: 0; padding: 0;"}
				= f.input :web, label: false, input_html: {class: "form-control", placeholder: "Web", style: "border-top: none;"}
			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin: 0; padding: 0;"}
				= f.input :city, label: false, input_html: {class: "form-control", placeholder: "Ciudad", style: "border-top: none; border-left: none;"}

			.col-lg-12.col-md-12.col-sm-12.col-xs-12{style: "margin: 0; padding: 0;"}
				= f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "En que te podemos ayudar", style: "border-top: none;"}

		.row{style: "margin: 0;"}
			.form-actions
				.col-lg-6.col-md-6.col-sm-6.col-xs-6.pull-left{style: "padding: 0;"}
					= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true

				.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "padding: 0;"}
					= f.button :submit, "Enviar", class: "btn btn-primary pull-right", id: "btn-submit", "data-toggle" => "tooltip", "data-placement" => "right", "title" => "Confirma que no eres un robot."

:javascript
	$('#btn-submit').attr('disabled', 'disabled');
	$( ".contact-form" ).mouseover(function () {
		contact_form();
	});
		$( ".contact-form" ).keyup(function() {
		contact_form();
	});

	function contact_form(){
		name = $('#message_name').val();
		email = $('#message_email').val();
		phone = $('#message_phone').val();
		company = $('#message_company').val();
		city = $('#message_city').val();
		content = $('#message_content').val();
		recaptcha = $('#g-recaptcha-response').val();

		if (name != "" && email != "" && phone != "" && company != "" && city != "" && content != "" && recaptcha != "" ){
			$('#btn-submit').removeAttr('disabled')
		}
	}