.listing-show-header
	.actions
		
	%h5
		= material_icon.md_24.email.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @message.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @message.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.phone")
			.display-value= @message.phone
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.city")
			.display-value= @message.city
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.company")
			.display-value= @message.company
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.web")
			.display-value= @message.web.blank? ? "No posee" : @message.web.to_s.humanize
		%hr
		.display-value{align: "justify"}= @message.content
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});