%tr{ id: "row-#{message.id}" }
	- if can? :destroy_multiple, KepplerContactUs::Message
		%td.item-check{style:"width: 10%"}
			= link_to "", message_path(message), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{message.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{message.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{message.id}" }

		%td{style:"width: 10%"}
			= link_to "", message_path(message, search: @query), remote: true, class: "show-row"
			%span.hide-on-small-and-down{id: "read-status-#{message.id}"}
				- if message.read
					= material_icon.md_18.done.css_class("md-dark") 
				- else
					= material_icon.md_18.email.css_class("md-dark") 
			%span.hide-on-med-and-up
				- if message.read
					= material_icon.md_18.done.css_class("md-dark") 
				- else
					= material_icon.md_18.email.css_class("md-dark") 
									
		%td{style:"width: 30%"}
			= link_to "", message_path(message, search: @query), remote: true, class: "show-row"
			%span
				= message.name
		%td.hide-on-small-and-down{style:"width: 30%"}
			= link_to "", message_path(message, search: @query), remote: true, class: "show-row"
			%span
				= message.created_at.strftime("%d/%m/%Y - %H:%M:%S")
	%td{style:"width: 5%"}		
		= link_to message_path(message), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")