= title "Messages | #{@message.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, KepplerContactUs::Message
				= link_to message_path(@message), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: '¿Estás seguro de querer eliminar este mensaje?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			= link_to messages_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @message.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.email")
					.display-value.fs-body-1.tc-black-2= @message.email.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.phone")
					.display-value.fs-body-1.tc-black-2= @message.phone.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.city")
					.display-value.fs-body-1.tc-black-2= @message.city.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.company")
					.display-value.fs-body-1.tc-black-2= @message.company.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.web")
					.display-value.fs-body-1.tc-black-2= @message.web.blank? ? "No posee" : @message.web.to_s.humanize
				%hr
				.display-value.fs-body-1.tc-black-2= @message.content.to_s.humanize
