.text-txt
	- @advisors.each_with_index do |advisor, index| 

		.row
			.col-lg-1.col-md-1.col-sm-1.col-xs-2#number-l{style: "display: inline-block; color: #cd8932; border-right: solid 3px #cd8932;"}=	index+1
			.col-lg-11.col-md-11.col-sm-11.col-xs-10
				%p 
					= link_to service_description_path(advisor.permalink) do
						= "#{advisor.name}: "
					= advisor.short_description
