.text-txt
	- @creativos.each_with_index do |creativo, index| 

		.row
			.col-lg-1.col-md-1.col-sm-1.col-xs-2#number-l{style: "display: inline-block; color: #b2305c; border-right: solid 3px #b2305c;"}=	index+1
			.col-lg-11.col-md-11.col-sm-11.col-xs-10
				%p 
					= link_to service_description_path(creativo.permalink) do
						= "#{creativo.name}: "
					= creativo.short_description