.footer#section-4
	.row{style: "margin: 0;"}
		.col-lg-6.col-md-6.col-sm-8.col-xs-12
			= render "keppler_contact_us/messages/form"
		.col-lg-6.col-md-6.col-sm-4.col-xs-12#contacts
			%span Contacto
			%br/

			#txt
				Estamos a su disposicion para cualquier consulta que desee hacernos.
			%br/

			#datos
				%i.fa.icon-envelope
				info@publinetecuador.com
				%br/

				%i.fa.icon-phone
				022343114 - 0995260971
				%br/

				%i.fa.icon-map-marker 
				Cesar Endara E8-55. Quito, Ecuador
			#social-icons
				.icon.animated.pulse
					= link_to "https://plus.google.com/+PublinetecuadorMKT/about" do
						%i.fa.fa-google-plus
				.icon.animated.pulse
					= link_to "https://www.facebook.com/PublinetMKT/?fref=ts" do
						%i.fa.fa-facebook
				.icon.animated.pulse
					= link_to "https://www.instagram.com/publinetmkt/" do
						%i.fa.fa-instagram
				.icon.animated.pulse
					= link_to "https://twitter.com/PublinetMKT" do
						%i.fa.fa-twitter
				.icon.animated.pulse
					= link_to "https://www.linkedin.com/in/publinetecuador" do
						%i.fa.fa-linkedin
				.icon.animated.pulse
					= link_to "https://www.youtube.com/c/PublinetecuadorMKT" do
						%i.fa.fa-youtube

:javascript
	$(".icon").mouseover(function(){
		$(this).addClass('infinite ');    
	});
	$(".icon").mouseout(function() {
		$('.icon').removeClass('infinite ');
	});