.text-txt
	- @sociales.each_with_index do |social, index| 
		.row
			.col-lg-1.col-md-1.col-sm-1.col-xs-2#number-l{style: "color: #1d8780; border-right: solid 3px #1d8780;"}=	index+1
			.col-lg-11.col-md-11.col-sm-11.col-xs-10
				%p#texto
					= link_to service_description_path(social.permalink) do
						= "#{social.name}: "
					= social.short_description
			.col-lg-1.col-md-1.col-sm-1.col-xs-2#number-r{style: "color: #1d8780; border-left: solid 3px #1d8780;"}=	index+1