.about.current
	.arrow-up
		#arrow
			= image_tag('frontend/Landing/Flecha-Arriba.png', id: "arrow-up", class: "animated")

	.img-1.left#section-2.active
		.img-container
			.center-h
				.center-v
					= image_tag("frontend/Landing/Logo.png", alt: "Sobre nosotros")
					.img-title
						SOBRE NOSOTROS
					.img-txt
						Somos un grupo de profesionales ecuatorianos con amplia experiencia en publicidad online que opera a nivel nacional y regionales. Entendemos lo importante que es hoy para las compañías tener presencia en Internet y en buscadores, pero sabemos que esto no es suficiente: debemos tener en claro cuál es nuestro público objetivo, dónde está y cómo ir a buscarlo.

	.about-1.right
		.txt-container
			.center-h
				.center-v
					.row#team{style: "margin-top: 5%;"}
						.col-lg-4.col-md-6.col-sm-6.col-xs-6#foto{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									= image_tag('frontend/About/Gissela.png')
						.col-lg-4.col-md-6.col-sm-6.col-xs-6#text{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									%span
										Gissela S.
									Profesional certificada en Google Analytics. Analista de datos. Social Media Manager. Community manager.
						.col-lg-4.hidden-md.hidden-sm.hidden-xs#award{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									= image_tag('frontend/About/Certificacion_G_Analitycs.jpg', alt: "Google Analitycs")
					.row#team{style: "margin-top: 50px; margin-bottom: 50px;"}
						.col-lg-4.col-md-6.col-sm-6.col-xs-6#foto{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									= image_tag('frontend/About/Mauricio.png')
						.col-lg-4.col-md-6.col-sm-6.col-xs-6#text{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									%span
										Mauricio T.
									Profesional certificado en Google Search y en Google Display. Experto en Google AdWords.
						.col-lg-4.hidden-md.hidden-sm.hidden-xs#award{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									= image_tag('frontend/About/Certificacion_G_Adwords.jpg', alt: "Google AdWords")
					.row#team{style: "margin-bottom: 5%;"}
						.col-lg-4.col-md-6.col-sm-6.col-xs-6#foto{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									= image_tag('frontend/About/Jorge.png')
						.col-lg-4.col-md-6.col-sm-6.col-xs-6#text{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									%span
										Jorge T.
									Profesional certificado en Youtube Ads. Productor de videos comerciales e informativos.
						.col-lg-4.hidden-md.hidden-sm.hidden-xs#award{style: "margin: 0; padding: 0;"}
							.center-h
								.center-v
									= image_tag('frontend/About/Certificacion_G_YoutubeAdds.jpg', alt: "Youtube Adds")


	.img-2.right
		.img-container
			.center-h
				.center-v
					.img-txt{style: "font-weight: 500;"}
						Nuestros clientes confían en nuestras capacidades de contactar con sus audiencias y hacerles saber de la presencia de su empresa. Nos continúan eligiendo a través de los años por nuestro compromiso con sus objetivos de marketing y por ofrecerles

					.service-items
						.row{style: "padding: 0; margin: 0;"}
							.col-lg-3.col-md-3.col-sm-6.col-xs-6#item{style: "padding: 0;"}
								= image_tag('frontend/About/Icono_SeguimientoPersonalizado.png', alt: "Seguimiento Personalizado")
								Seguimiento personalizado
							.col-lg-3.col-md-3.col-sm-6.col-xs-6#item{style: "padding: 0;"}
								= image_tag('frontend/About/Icono_EntregaDeEstadisticas.png', alt: "Entrega De Estadisticas")
								Entrega de estadísticas
							.col-lg-3.col-md-3.col-sm-6.col-xs-6#item{style: "padding: 0;"}
								= image_tag('frontend/About/Icono_Analitica_Semanal.png', alt: "Analitica Semanal")
								Análisis de resultados semanales
							.col-lg-3.col-md-3.col-sm-6.col-xs-6#item{style: "padding: 0;"}
								= image_tag('frontend/About/Icono_ProfesionalismoyExperiencia.png', alt: "Profesionalismo y Experiencia")
								Profesionalismo y Experiencia


	.about-2.left#section-3
		.txt-container
			.center-h
				.center-v
					.text-title#clientes{style: ""}
						Cada cliente es un nuevo desafío. Cada trabajo, un capitulo diferente. Personalizamos las soluciones que ofrecemos para ti.
					.clients-carrousel
						- @clients.each do |client|
							.client
								.center-h
									.center-v
										= image_tag client.image

	= render 'footer'

	.arrow-down-home
		#arrow-home
			= image_tag('frontend/Landing/Flecha-Abajo.png', id: "arrow-down", class: "animated infinite bounce")

:javascript
	$('.clients-carrousel').slick({
		infinite: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true
	});