.contact
	.contact-banner
		#google-partner
			= image_tag( 'frontend/Landing/GooglePartner.png', id: "img-partner", alt: "Google Partner" )
		.logo-home
			= image_tag('frontend/Landing/Logo_home.png', id: "logo-home" , alt: "Publinet Ecuador")

	.contact-container
		.contact-fields
			.center-h
				.center-v{style: "width: 85%; padding-top: 70px; padding-bottom: 70px;"}
					.text-contact
						.contact-title{style: "margin-bottom: 20px;"}
							¡Trabaja con nosotros!

						%p{ style: "margin-top: 20px;" }
							Nos encontramos en un lugar lejano del ruido y la contaminación, en un ambiente con diferentes áreas laborales, asi como también áreas de juego y descanso, lo que nos permite desarrollar al máximo nuestro talento en cada proyecto que realizamos. 
						%p
							Convocamos a expertos en marketing, publicidad online, diseño web, programación, RRSS, redacción de contenidos, producción de videos que posean conocimientos sólidos y experiencia relevante en estos rubros a enviarnos su CV:

						%p{ style: "margin-bottom: 30px; font-weight: bold; font-sixe: 16px;" }
							rrhh@publinetecuador.com
					.contact-images
						.image#img-1
						.image#img-2
						.image#img-3


		.map
			#map
			
	= render 'footer'