.landing.current
	.arrow-up
		#arrow
			= image_tag('frontend/Landing/Flecha-Arriba.png', id: "arrow-up", class: "animated")
	.home#section-home.active{style: "width: 100%;"}
		= render "layouts/frontend/messages"
		#google-partner
			= image_tag( 'frontend/Landing/GooglePartner.png', id: "img-partner", alt: "Google Partner" )
		.logo-home
			= image_tag('frontend/Landing/Logo_home.png', id: "logo-home" , alt: "Publinet Ecuador")
	.img-1.left#section-1
		.img-container
			.center-h
				.center-v
					= image_tag('frontend/Landing/Logo.png', id: "logo-home" , alt: "Logo Publinet")
					.img-title
						ADVISOR
					.img-txt
						Somos expertos en google ads, facebook ads, twitter ads, youtube ads, nuestro objetivo es acercar su marca a tus potenciales clientes.
	.text-1.right
		.txt-container
			.center-h
				.center-v
					.text-title{style: "color: #cd8932"}
						Publinet Advisor
					= render 'advisor'
	.img-2.right
		.img-container
			.center-h
				.center-v
					= image_tag("frontend/Landing/Logo.png", id: "logo-home" , alt: "Logo Publinet")
					.img-title
						SOCIAL
					.img-txt
						Analizamos en detalle dónde se encuentran sus potenciales clientes y cuál es la manera mas óptima de captar su atencion para que su estrategia online dé el mejor resultado posible.
	.text-2.left#section-2
		.txt-container
			.center-h
				.center-v
					.text-title#txt-social{style: "color: #1d8780;"}
						Publinet Social

					= render 'social'
	.img-3.left#section-3
		.img-container
			.center-h
				.center-v
					= image_tag("frontend/Landing/Logo.png", id: "logo-home", alt: "Logo Publinet")
					.img-title
						CREATIVO
					.img-txt
						Entendemos que el desarrollo integral de una marca es muy importante tanto a la hora de definir quiénes y cómo somos, como al momento de generar nuevos negocios.
	.text-3.right
		.txt-container
			.center-h
				.center-v
					.text-title{style: "color: #b2305c"}
						Publinet Creativo
					= render 'creativo'
	= render 'footer'

	.arrow-down-home
		#arrow-home
			= image_tag('frontend/Landing/Flecha-Abajo.png', id: "arrow-down", class: "animated infinite bounce")
