.services.current
	.arrow-up
		#arrow
			= image_tag('frontend/Landing/Flecha-Arriba.png', id: "arrow-up", style: "top: -60px;", class: "animated" )

	.img.active{class: "#{ @service.category == "Social" ? 'right' : 'left' }", id: "#{ @service.category.downcase}"}
		.img-container
			.center-h
				.center-v
					= image_tag('frontend/Landing/Logo.png', id: "logo-home" , alt: "Logo Publinet")
					- if @service.category == "Advisor"
						.img-title
							ADVISOR
						.img-txt
							Somos expertos en google ads, facebook ads, twitter ads, youtube ads, nuestro objetivo es acercar su marca a tus potenciales clientes.
					- elsif @service.category == "Social"
						.img-title
							SOCIAL
						.img-txt
							Analizamos en detalle dónde se encuentran sus potenciales clientes y cuál es la manera mas óptima de captar su atencion para que su estrategia online dé el mejor resultado posible.
					- elsif @service.category == "Creativo"
						.img-title
							CREATIVO
						.img-txt
							Entendemos que el desarrollo integral de una marca es muy importante tanto a la hora de definir quiénes y cómo somos, como al momento de generar nuevos negocios.
	.text-service{class: "#{ @service.category == "Social" ? 'left' : 'right' }"}
		.txt-container
			.center-h
				.center-v{ style: "justify-content: flex-start; width: 80%;" }
					.text-title{id: "text-title-#{@service.category.downcase}"}
						= @service.name

					.text-txt
						= @service.large_description.html_safe

	= render 'footer'

	.arrow-down-home
		#arrow-home
			= image_tag('frontend/Landing/Flecha-Abajo.png', id: "arrow-down", class: "animated infinite bounce")