.wrapper
	.wrapper-body.container
		.actions
			= link_to services_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @service do |f|
					.row
						= f.input :name, label:  t("model.#{controller_name.singularize}.attributes.name")
						= f.input :short_description, label:  t("model.#{controller_name.singularize}.attributes.short_description")
						= f.input :large_description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'mini'} }
						= f.input :category, collection: ["Advisor", "Social", "Creativo"], label: false, include_blank: "Selecione una Categoría"

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
