.listing-show-header
	.actions
		- if can? :update, Service
			= link_to edit_service_path(@service), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink"=>true do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @service.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.category")
			.display-value= @service.category
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @service.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.short_description")
			.display-value= @service.short_description
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
