= title "Services | #{@service.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Service
				= link_to service_path(@service), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Service
				= link_to edit_service_path(@service), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to services_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @service.name.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.category")
					.display-value.fs-body-1.tc-black-2= @service.category.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.short_description")
					.display-value.fs-body-1.tc-black-2= @service.short_description.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.large_description")
					.display-value.fs-body-1.tc-black-2= @service.large_description.html_safe
