%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
  .profile-menu.bgc-red-500
    .profile-pic
      = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
    .profile-info
      = current_user.name
  %ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
    = render "layouts/admin/sidebar_engines_links"
    - if can? :index, Client
      %li
        = tab "Clientes", "person", main_app.clients_path, current_navigation?("Clients")
    - if can? :index, Service
      %li
        = tab "Servicios", "person", main_app.services_path, current_navigation?("Services")
    - if can? :index, User
      %li
        = tab "Usuarios", "person", main_app.users_path, current_navigation?("Users")

