.wrapper
	.wrapper-body.container
		.actions
			= link_to clients_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @client do |f|
					.row
						= f.input :name, label:  t("model.#{controller_name.singularize}.attributes.name")
						= f.input :image, :as => :file_material, label: false, wrapper_html: { class: "file-field" }

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
