@import "../core/main";

.center-h{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  .center-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.about{
  overflow: hidden;
  height: 100%;
  width: 100% !important;
  display: flex;
  position: relative;
  @media #{$phone}{
    height: auto;
    position: static;
    display: table;
  }
  @media #{$tablet}{
    height: auto;
    position: static;
    display: table;
  }

  @media #{$phone-landscape}{
    height: auto;
    position: static;
    display: table;
  }
  @for $i from 1 through 2 {
    .img-#{$i} { 
      height: 100%;
      width: 50%;
      display: inline-block;
      position: absolute;
      color: white;
      text-align: center;
      opacity: 0;
      @media #{$phone}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
      @media #{$phone-landscape}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
      @media #{$tablet}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      } 
    }
    .about-#{$i} { 
      height: 100% !important;
      width: 50% !important;
      display: inline-block;
      position: absolute;
      background: white;
      opacity: 0;
      @media #{$phone}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
      @media #{$phone-landscape}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
      @media #{$tablet}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
    }
  }
  .center-v{
    padding-bottom: 0;
    padding-top: 0;
    height: 100%;
    .row{
      @media #{$desktop-large}{
        height: 25%;
        margin: 0;
        padding: 0;
      }
      @media #{$desktop}{
        height: 25%;
        margin: 0;
        padding: 0;
      }
    }
  }
  .img-1{
    background: image-url('frontend/About/Background_About.jpg') no-repeat;
    background-size: cover;
    background-position-x: 60%;
  }
  .img-2{
    background: image-url('frontend/About/Background_clientes.jpg') no-repeat;
    background-size: cover;
    background-position-x: 70%;
  }
  .img-1{
    top:0;
    opacity: 1;
  }
  #team{
    margin:0;
  }
  .about-1{
    top:0;
    opacity: 1;
    #foto{
      height: 100%;
      display: flex;
      img{
        width: 180px;
        height: 184px;
      }
    }
    #award{
      height: 100%;
      display: flex;
      img{
      }
    }
    #text{
      height: 100%;
      display: flex;
      color: #777e7d;
      font-family: 'Hind', sans-serif;
      font-weight: 400;
      font-size: 17px;
      span{
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
  }
  #team{
    .center-h{
      .center-v{
        padding: 0;
        @media #{$phone}{
          padding: 5px;   
        }
        @media #{$phone-landscape}{
          padding: 5px; 
        }
        @media #{$tablet}{
          padding: 5px;
        }
      }
    }
  }
  .service-items{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 50px;
    display: flex;
    #item{
      font-family: 'Hind', sans-serif;
      font-weight: 400;
      font-size: 17px;
    }
  }
  #clientes{
    color: #2a2829; 
    text-align: center;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    border-bottom: solid 3px #1d8780; 
    @media #{$phone}{
      width: 100%;
      margin: 0;
    }
    @media #{$phone-landscape}{
      width: 100%;
      margin: 0;
    }
    @media #{$tablet}{
      width: 100%;
      margin: 0;
    } 
  }
  .clients-carrousel{
    height: 50%;
    width: 100%;
    @media #{$phone}{
      height: 400px;
    }
    @media #{$phone-landscape}{
      height: 400px;
    }
    @media #{$tablet}{
      height: 400px;
    }
    @media #{$tablet}{
      height: 400px;
    } 
    .client{
      max-height: 100%;
      width: 100% !important;
      img{
        max-height: 100%;
      }
    }
    .slick-list{
      height: 100%;
      overflow: hidden;
      .slick-track{
        height: 100%;
        display: flex;
      }
    }
  }
}

.slick-prev:before, .slick-next:before{
  color: #1d8780 !important;
  font-size: 35px !important;
  opacity: 1 !important;
}
.slick-prev{
  left: 0 !important;
  z-index: 1 !important;
}
.slick-next{
  right: 25px !important;
  z-index: 1 !important;
}
