@import "../core/main";

.contact{
  width: 100%;
  position: relative;
  display: table;
  height: auto;
  .contact-banner{
    width: 100%;
    height: 500px;
    background: image-url('frontend/Landing/Cartelera.jpg');
    background-size: cover;
    background-position: 50% !important;
    position: relative;
    display: table-caption;
    
    .logo-home{
      position: absolute;
      width: 100%;
      bottom: 40px;
      height: 35%;
      @media #{$phone-landscape}{
        height: 35%;
        bottom: 10px;
      }
      @media #{$phone-landscape}{
        height: 35%;
        bottom: 10px;
      }
      @media #{$tablet}{
        height: 35%;
        bottom: 10px;
      }
      img{
        height: 100%;
      }
    }
    #google-partner{
      position: absolute;
      height: 130px;
      width: 100%;
      text-align: center;
      top: 0;
      @media#{$phone}{
        height: 110px;
      }
      @media#{$phone-landscape}{
        height: 110px;
      }
      @media#{$tablet}{
        height: 110px;
      }
    }
  }
  .contact-container{
    height: auto;
    display: flex;
    @media#{$phone}{
      display: table;
    }
    @media#{$phone-landscape}{
      display: table;
    }
    @media#{$tablet}{
      display: table;
    }
  }
  .contact-fields{
    width: 50%;
    display: inline-block;
    height: 600px;
    min-height: 600px;
    @media#{$phone}{
      width: 100%;
      height: auto;
    }
    @media#{$phone-landscape}{
      width: 100%;
      height: auto;
    }
    @media#{$tablet}{
      width: 100%;
      height: auto;
    }
    .text-contact{
      padding-left: 50px;
      padding-right: 50px;
      @media#{$phone}{
        padding-right: 5px;
        padding-left: 5px;
      }
      @media#{$phone-landscape}{
        padding-right: 5px;
        padding-left: 5px;
      }
      .contact-title{
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        color: black;
      }
      p{
        font-size: 15px;
        font-family: 'Hind', sans-serif;
        font-weight: 500;
      }
    }
    .contact-images{
      width: 100%;
      display: flex;
      .image{
        width: 33%;
        margin-left: 10px;
        height: 150px;
        display: inline-block;
      }
      #img-1{
        background: image-url('frontend/About/contacto-1.jpg');
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      #img-2{
        background: image-url('frontend/About/contacto-2.jpg');
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      #img-3{
        background: image-url('frontend/About/contacto-3.jpg');
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  .map{
    width: 50%;
    display: inline-block;
    height: 600px;
    @media#{$phone}{
      width: 100%;
      height: 300px;
    }
    @media#{$phone-landscape}{
      width: 100%;
      height: 300px;
    }
    @media#{$tablet}{
      width: 100%;
      height: 300px;
    }
  }
  #map{
    width: 100%;
    height: 100%;
  }
  .footer{
    @media#{$desktop}{
      bottom: 0;
      position: relative;
      .contact-form{
        padding-bottom: 0;
        form{
          margin-bottom: 0;
          .form-actions{
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
        }
      }
    }
    @media#{$desktop-large}{
      bottom: 0;
      position: relative;
      .contact-form{
        padding-bottom: 0;
        form{
          margin-bottom: 0;
          .form-actions{
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
        }
      }
    }
    
  }
}