@import "../core/main";

.contact-form{
  padding: 7% 5% 0 5%;
  
  input{
    height: 35px;
  }

  input, textarea{
    background: transparent;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    border-radius: 0;
    border-color: white;
    color: white;
    font-weight: 700;
    resize: none;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: rgba(255,255,255,0.7);
    font-weight: 100;
  }
  .form-actions{
    text-align: center;
    background: transparent;
    border: none;
    margin-top: 0;
    @media #{$phone}{
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 0;
      margin-top: 20px;
      padding: 0;
    }
    @media #{$phone-landscape}{
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 0;
      margin-top: 20px;
      padding: 0;
    }
    @media #{$tablet}{
      margin-bottom: 0;
      padding-bottom: 0;
      padding-top: 0;
      margin-top: 20px;
      padding: 0;
    }
  }
  .btn{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background: white;
    color: #777e7d;
    font-weight: bold;
    height: 40px;
  }
  .btn:hover{
    background: white;
  }
  @media #{$phone}{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media #{$tablet}{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media #{$phone-landscape}{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media #{$tablet-landscape}{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.contact-form .form-actions .g-recaptcha div:nth-child(1){
  transform: scale(0.82);
  transform-origin: 0 0;
}

.footer{
  width: 100%;
  height: 350px;
  background: image-url('frontend/Landing/Contacto.jpg') no-repeat;
  background-size: cover;
  z-index: 1;
  bottom: -350px;
  position: absolute;
  @media#{$phone}{
  position: relative;
  bottom: 0;
  display: table-row;
  height: 300px;
  }
  @media#{$phone-landscape}{
    position: relative;
    bottom: 0;
    display: table-row;
    height: 230px;
  }
  @media#{$tablet}{
    position: relative;
    bottom: 0;
    display: table-row;
  }
}

#contacts{
  color: white;
  font-size: 15px;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 30px;

  @media #{$phone}{
    text-align: center;
    padding-top: 0;
    padding-bottom: 30px;
  }
  @media #{$phone-landscape}{
    text-align: center;
    padding-top: 0;
    padding-bottom: 30px;
  }

  span{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  #txt{
    margin-top: 10px;
  }
  #datos{
    i{
      font-size: 25px !important;
      color: white;
      margin-left: 10px !important;
      margin-right: 25px !important;
    }
  }
}

#social-icons{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
  @media #{$phone}{
    justify-content: center;
  }
  @media #{$tablet}{
    justify-content: center;
  }
  @media #{$phone-landscape}{
    justify-content: center;
  }
  .icon{
    display: inline-block;
    margin: 10px;
    width: 45px;
    height: 45px;
    @media #{$phone}{
      margin: 2px;
      width: 40px;
      height: 40px;
    }
    @media #{$phone-landscape}{
      margin: 2px;
      width: 40px;
      height: 40px;
    }
    @media #{$tablet}{
      margin: 2px;
      width: 40px;
      height: 40px;
    }
    a{
      text-align: center;
    }
    i{
      background: white;
      font-size: 35px;
      border-radius: 50px;
      padding: 10px;
      width: 50px;
      color: #707D83;

      @media #{$phone}{
        width: 40px;
        font-size: 20px;
      }
      @media #{$phone-landscape}{
        width: 40px;
        font-size: 20px;
      }
      @media #{$tablet}{
        width: 40px;
        font-size: 20px;
      }
    }
  } 
}