// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";
html, body, main{
	height: 100%;
	width: 100%;
	padding:0;
}

.front{
	height: 100%;
	.front-container{
		height: 100%;
		.front-logo-horizontal{
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			height: 100%;
			.front-logo-vertical{
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-justify-content: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				@media #{$phone} {
					.front-logo{
						width: 300px;
					}
				}
				@media #{$phone-landscape} {
					.front-logo{
						width: 300px;
					}
				}
				.front-social{
					margin-top: 30px;
					a, a:hover{						
						color: white;
						font-size: 30px;
					}
				}
				h1{
					color: white
				}
			}
			.front-footer{
				padding: 15px;
				color: white;
				font-size: 18px;
				width: 100%;
				.brand-logo{
					font-family: 'Patua One', cursive;
					position: relative;
					left: 10px;
					font-size: 20px;
					color: #ffffff
				}
			}
		}

		//flexbox
		.flex-contenedor{
			width: 400px;
			background: #fff;
			padding: 10px;
			border: 10px solid #2c3e50;
			display: -webkit-flex;
			display: -ms-flex;
			display: -ms-flexbox;
			display: flex;
			//flex-direction: row;
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
			-webkit-justify-content: flex-start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
			//align-content: center;


			.element{
				color: #fff;
				margin: 5px;
				height: 100px;
				-webkit-flex: 1 1 100px;
				    -ms-flex: 1 1 100px;
				        flex: 1 1 100px;
				background: #e67e22;
				display: -webkit-flex;
				display: -ms-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-justify-content: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-align-items: center;
				    -ms-flex-align: center;
				        align-items: center;				
			}
		}

		.bmc-contenedor{
			width: 1000px;
			background: #fff;
			padding: 10px;
			border: 10px solid #2c3e50;
			display: -webkit-flex;
			display: -ms-flex;
			display: -ms-flexbox;
			display: flex;

			flex-wrap: wrap;

			.row{
				color: #fff;
				margin: 5px;
				width: 1000px;
			}
			.row-1{
				height: 400px;
				display: -webkit-flex;
				display: -ms-flex;
				display: -ms-flexbox;
				display: flex;
				.column{
					color: #fff;
					margin: 5px;
					width: 1000px;
					background: #e67e22;					
					display: -webkit-flex;
					display: -ms-flex;
					display: -ms-flexbox;
					display: flex;
					flex-wrap: wrap;
					flex-grow: 1;
				}
			}
			.row-2{
				height: 100px;
				display: -webkit-flex;
				display: -ms-flex;
				display: -ms-flexbox;
				display: flex;
				.column{
					color: #fff;
					margin: 5px;
					width: 1000px;
					background: #e67e22;					
					display: -webkit-flex;
					display: -ms-flex;
					display: -ms-flexbox;
					display: flex;		
				}
			}

			.row-3{
				height: auto;
				display: -webkit-flex;
				display: -ms-flex;
				display: -ms-flexbox;
				display: flex;
				background: #000
			}

			.row-4{
				height: auto;
				width: 500px;
				display: -webkit-flex;
				display: -ms-flex;
				display: -ms-flexbox;
				display: flex;
				background: #000
			}
		}

	}
}
