@import "../core/main";

.img-container{
  .center-h{
    .center-v{
      width: 70%;
      @media #{$phone}{
        width: 90%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      @media #{$phone-landscape}{
        width: 90%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
      @media #{$tablet}{
        width: 90%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
}
.txt-container{
  .center-h{
    .center-v{
      padding: 50px;
      @media #{$phone}{
        padding-left: 10px;
        padding-right: 10px;
      }
      @media #{$phone-landscape}{
        padding-left: 10px;
        padding-right: 10px;
      }
      @media #{$tablet}{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.landing{
  overflow: hidden;
  height: 100%;
  width: 100% !important;
  display: flex;
  position: relative;
  @media #{$phone}{
    position: static;
    display: table;
  }
  @media #{$tablet}{
    position: static;
    display: table;
  }

  @media #{$phone-landscape}{
    position: static;
    display: table;
  }
  .img-1{
    background: image-url('frontend/Landing/Advisor.jpg') no-repeat;
    background-size: cover;
    background-position-x: 60%;
  }
  .img-2{
    background: image-url('frontend/Landing/Social.jpg') no-repeat;
    background-size: cover;
    background-position-x: 70%;
  }
  .img-3{
    background: image-url('frontend/Landing/Creativo.jpg') no-repeat;
    background-size: cover;
    background-position-x: 20%;
  }

  #number-r{
    display: inline-block;
    border-left: solid 3px #1d8780;
    text-align: center !important;
    @media #{$phone}{
      display: none;
    }
    @media #{$tablet}{
      display: none;
    }

    @media #{$phone-landscape}{
      display: none;
    }
  }
  #number-l{
    display: none;
    text-align: center !important;
    @media #{$phone}{
      display: inline-block;
    }
    @media #{$tablet}{
      display: inline-block;
    }

    @media #{$phone-landscape}{
      display: inline-block;
    }
  }
  @for $i from 1 through 3 {
    .img-#{$i} {
      height: 100% !important;
      width: 50% !important;
      display: inline-block;
      position: absolute;
      color: white;
      text-align: center;
      opacity: 0;
      @media #{$phone}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
      @media #{$phone-landscape}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
      @media #{$tablet}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
    }
    .text-#{$i} {
      height: 100% !important;
      width: 50% !important;
      display: inline-block;
      position: absolute;
      background: white;
      opacity: 0;
      @media #{$phone}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
      @media #{$phone-landscape}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
      @media #{$tablet}{
        height: auto;
        position: relative;
        width: 100%;
        display: table-row;
        opacity:1;
      }
    }
  }

}
.home{
  width: 100%;
  background: image-url('frontend/Landing/Cartelera.jpg');
  background-size: cover;
  background-position: 50% !important;
  position: absolute;
  @media #{$phone}{
    position: relative;
    display: table-caption;
  }
  @media #{$phone-landscape}{
    position: relative;
    display: table-caption;
  }
  @media #{$tablet}{
    position: relative;
    display: table-caption;
  }
  .logo-home{
    position: absolute;
    width: 100%;
    bottom: 60px;
    height: 35%;
    @media #{$phone-landscape}{
      height: 35%;
      bottom: 20px;
    }
    @media #{$phone-landscape}{
      height: 35%;
      bottom: 20px;
    }
    @media #{$tablet}{
      height: 35%;
      bottom: 20px;
    }
    img{
      height: 100%;
    }
  }
  #google-partner{
    position: absolute;
    height: 130px;
    width: 100%;
    text-align: center;
    top: 0;
    @media#{$phone}{
      height: 110px;
    }
    @media#{$phone-landscape}{
      height: 110px;
    }
    @media#{$tablet}{
      height: 110px;
    }
  }
}

.arrow-down-home{
  height: 50px;
  @media #{$phone}{
    display: none;
  }
  @media #{$phone-landscape}{
    display: none;
  }
  @media #{$tablet}{
    display: none;
  }
  #arrow-home{
    display: flex;
    justify-content: center;
    height: 35px;
    bottom: 20px;
    position: absolute;
    width: 100%;
  }
}
.arrow-up{
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 1;
  top: -60px;
  @media #{$phone}{
    display: none;
  }
  @media #{$phone-landscape}{
    display: none;
  }
  @media #{$tablet}{
    display: none;
  }
  #arrow{
    display: flex;
    justify-content: center;
    height: 35px;
    top: 20px;
    position: absolute;
    width: 100%;
    #arrow-up{
      
    }
  }
}

.left{
  top: 100%;
  @media #{$phone}{
    top: 0;
  }
  @media #{$phone-landscape}{
    top: 0;
  }
  @media #{$tablet}{
    top: 0;
  }
}
.right{
  left: 50%;
  top: -100%;
  @media #{$phone}{
    top: 0;
    left: 0;
  }
  @media #{$phone-landscape}{
    top: 0;
    left: 0;
  }
  @media #{$tablet}{
    top: 0;
    left: 0;
  }
}

.img-container, .txt-container{
  height: 100%;
}

.img-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.img-txt{
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 22px;
  @media#{$phone}{
    padding: 5%;
    text-align: center;
    color: white;
    font-size: 18px;
  }
  @media#{$phone-landscape}{
    padding: 5%;
    text-align: center;
    color: white;
    font-size: 18px;
  }
  @media#{$tablet}{
    padding: 4%;
    text-align: center;
    color: white;
  }
}
#txt-social{
  text-align: right;
  @media #{$phone}{
    text-align: center;
  }
  @media #{$phone-landscape}{
    text-align: center;
  }
  @media #{$tablet}{
    text-align: center;
  }
}
.text-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40px;
  @media #{$phone}{
    font-size: 25px;
    text-align: center;
  }
  @media #{$phone-landscape}{
    font-size: 25px;
    text-align: center;
  }
  @media #{$tablet}{
    font-size: 25px;
    text-align: center;
  }
}
.text-txt{
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  color: #777e7d;
  #number-r, #number-l{
    border-right-color: #cd8932;
    border-right-width: 2px;
    font-size: 40px;
    text-decoration: none;
  }
  p{
    font-size: 17px;
    a{
      font-weight: bold !important;
      text-decoration: underline;
      color: #777e7d !important;
    }
  }
  .row{
    margin-bottom: 15px;
  }

  @media#{$phone}{
    background-size: cover;
    background-repeat: no-repeat;
    padding:{
      left: 5%;
      right: 5%;
      top: 30px;
      bottom: 30px;
    }
    p{
      font-size: 14px;
    }
  }
  @media#{$phone-landscape}{
    padding:{
      left: 5%;
      right: 5%;
      top: 30px;
      bottom: 30px;
    }
    p{
      font-size: 14px;
    }
  }
  @media#{$tablet}{
    padding:{
      left: 15%;
      right: 15%;
      top: 30px;
      bottom: 30px;
    }
  }
}

#texto{
  text-align: right;

  @media#{$phone}{
    text-align: left;
  }
  @media#{$phone-landscape}{
    text-align: left;
  }
  @media#{$tablet}{
    text-align: left;
  }
}

.alert{
  position: absolute;
  top: 70px;
  right: 50px;
  border-radius: 0;
  .close{
    left: 0;
    top: 10px;
    font-size: 40px;
  }
}
.alert-success {
  background-color: rgba(204,247,186,0.65);
  border-color: #B8DDA8;
  color: #059608;
}
.alert-danger{
  background-color: rgba(242, 222, 222, 0.75);
  border-color: #F9BAB8;
  color: #DA2623;
}