@import "../core/main";
#Modal{

}
.modal{
	margin-left: 0px;
	width: auto;
	background: transparent;
	box-shadow: none;
	border: none;
}

.modal-content {
	background: image-url('frontend/About/Modal_Backgrounds.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 0;
  border: 0px;
  box-shadow: none;
  padding: 70px;
  @media #{$phone}{
    padding-left: 10px;
		padding-right: 10px;
  }
  @media #{$phone-landscape}{
    padding-left: 10px;
		padding-right: 10px;
  }
}

.close {
	width: 50px;
	height: 50px;
	position: absolute;
	background: black !important;
  right: 0;
  top: 0;
  color: white;
  opacity: 1;
  font-size: 50px;
}

.modal-dialog{

}

.modal-body {
  padding: 50px;
  background: rgba(255,255,255,0.7);
  height: 100%;
  overflow: hidden;
  color: black;
  text-align: center;
  max-height: 100%;
  @media #{$phone}{
    overflow: auto;
		height: 60%;
		padding-left: 20px;
		padding-right: 20px;
  }
  @media #{$phone-landscape}{
    overflow: auto;
		height: 60%;
		padding-left: 20px;
		padding-right: 20px;
  }
  @media #{$tablet}{
    overflow: auto;
		height: 60%;
  }
  span{
  	font-family: 'Oswald', sans-serif;
		font-size: 23px;
		font-weight: 600;
  }
  p{
  	font-family: 'Hind', sans-serif;
		font-size: 17px;
		text-align: left;
  }
  
}