@import "../core/main";

.dropdown-toggle{
	z-index: 10000 !important;
	right: 50px;
	top: 30px;
	height: 40px;
	width: 40px;
	position: fixed;
	background: transparent;
	border: none;
	box-shadow: none;
	padding: 10px;
	border-radius: 0;
	#menu{
		height: 20px;
		width: 20px;
		background: transparent;
		background: image-url( 'frontend/Landing/Menu.png' ) no-repeat;
		background-size: cover;
	}
	@media #{$phone}{
		right: 20px;
		top: 15px;
	}
	@media #{$phone-landscape}{
		right: 20px;
		top: 15px;
	}
}
.navigator{
	z-index: 10000 !important;
	position: fixed;
	right: 0;
	width: 100%;

	button[aria-expanded=true]{
		background: transparent;
	}
	@media #{$desktop-large}{
		position: absolute;
	}
	@media #{$desktop}{
		position: absolute;
	}

}
.dropdown-menu{
	position: fixed;
	top: 28px !important;
	border-radius: 0;
	right: 50px !important;
	width: 250px;
	left: initial;
	@media #{$phone}{
		right: 20px !important;
		top: 15px !important;
	}
	@media #{$phone-landscape}{
		right: 20px !important;
		top: 15px !important;
	}
}
.dropdown-menu > li > a{
	font-size: 15px;
	color: #777E7D;
	font-weight: 700;
	padding: 5px 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #1d8780 !important;
  color: white;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus{
	background: transparent;
	padding: 5px;
	#menu{
		height: 30px;
		width: 25px;
		background: transparent;
		background: image-url( 'frontend/Landing/Menu_Color.png' ) no-repeat;
		background-size: cover;
	}
}
.activo{
	background: #1d8780;
  a{
  	color: white !important;
  }
}