@import "../core/main";

.services{
  height: 100%;
  width: 100% !important;
  display: table;
  position: relative;
  overflow: hidden;
  display: flex;
  @media #{$phone}{
    height: auto;
    position: relative;
    width: 100%;
    display: table-row;
  }
  @media #{$phone-landscape}{
    height: auto;
    position: relative;
    width: 100%;
    display: table-row;
  }
  @media #{$tablet}{
    height: auto;
    position: relative;
    width: 100%;
    display: table-row;
  }
  #advisor{
    background: image-url('frontend/Landing/Advisor.jpg') no-repeat;
    background-size: cover;
    background-position-x: 60%;
  }
  #social{
    background: image-url('frontend/Landing/Social.jpg') no-repeat;
    background-size: cover;
    background-position-x: 70%;
  }
  #creativo{
    background: image-url('frontend/Landing/Creativo.jpg') no-repeat;
    background-size: cover;
    background-position-x: 20%;
  }
  .img{
    height: 100%;
    width: 50%;
    display: inline-block;
    position: absolute;
    color: white;
    text-align: center;
    background-size: cover;
    background-position-x: 50%;
    top: 0;
    @media #{$phone}{
      height: auto;
      position: relative;
      width: 100%;
      display: table-row;
    }
    @media #{$phone-landscape}{
      height: auto;
      position: relative;
      width: 100%;
      display: table-row;
    }
    @media #{$tablet}{
      height: auto;
      position: relative;
      width: 100%;
      display: table-row;
    }
  }
  .text-service{
    height: 100% !important;
    width: 50% !important;
    display: inline-block;
    position: absolute;
    background: white;
    top: 0;
    padding-top: 30px;
    padding-bottom: 0;
    overflow-y: scroll;
    @media #{$phone}{
      height: auto;
      position: relative;
      width: 100%;
      display: table-row;
      padding-right: 0;
    }
    @media #{$phone-landscape}{
      height: auto;
      position: relative;
      width: 100%;
      display: table-row;
      padding-right: 0;
    }
    @media #{$tablet}{
      height: auto;
      position: relative;
      width: 100%;
      display: table-row;
      padding-right: 0;
    }
  }
  .text-txt{
    margin-bottom: 50px;
  }
  #text-title-advisor{
    color: #cd8932;
  }
  #text-title-social{
    color: #1d8780;
  }
  #text-title-creativo{
    color: #b2305c;
  }

}