.navigator
	
	- if action_name == 'service'
		.arrow-back
			#arrow
				= image_tag('frontend/Landing/Flecha-Atras.png', id: "arrow-back", class: "animated pulse", style: "left: 10px;top: 10px;position: absolute;cursor: pointer;")

	%button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
		#menu
	%ul.dropdown-menu
		%li{class: "#{'activo' if action_name == 'index' }"}
			= link_to root_path do
				INICIO
		%li{class: "#{'activo' if action_name == 'about' }"}
			= link_to about_path do
				SOBRE NOSOTROS
		%li{class: "#{'activo' if action_name == 'service' }"}
			%a#nav SERVICIOS
		%li{class: "#{'activo' if action_name == 'contact' }"}
			= link_to contact_path do
				CONTACTOS
