!!!
%html
	= render 'layouts/frontend/head'
	%body
	%header
		= render 'layouts/frontend/navigation'
	%main{:role => "main"}
		= #render 'layouts/frontend/messages'
		= yield
	= render 'keppler_adwords/data'
