!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %center
      %h1= "Contacto "
    %p
      %strong Nombre:
      = @client[:name]
    %p
      %strong Email:
      = @client[:email]
    %p
      %strong Teléfono:
      = @client[:phone]
    %p
      %strong Empresa:
      = @client[:company]
    %p
      %strong Web:
      = @client[:web].blank? ? "No posee" : @client[:web]
    %p
      %strong Ciudad:
      = @client[:city]
    %p
      %strong Mensaje:
      = @client[:content]