//Responsive design
/*$desktop-large: "(min-width:1200px)";
$desktop: "(min-width:992px)";
$tablet: "only screen and (min-device-width: 768px) and (max-device-width: 1024px)";
$tablet-protrait: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)";
$tablet-landscape: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)";
$phone: "only screen and (min-device-width: 320px) and (max-device-width: 736px)";
$phone-portrait: "only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait)";
$phone-landscape: "only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape)";
*/
$desktop-large: "(min-width:1200px)";
$desktop: "(min-width:992px) and (max-width:1199px)";
$tablet: "(min-width: 768px) and (max-width:991px)";
$tablet-landscape: "(min-width:768px) and (orientation : portrait)";
$phone: "(max-width: 767px) and (orientation : portrait)";
$phone-landscape: "(max-width: 767px) and (orientation : landscape)";
$min-phone: "(max-width: 320px) and (orientation : portrait)";
//fuentes
$raleway: 'Raleway', sans-serif;

//colores
$primary-color: rgb(193, 80, 16);
$bg-primary: #fff;
$bg-secondary: #f5f5f5;
